<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="MappingSection" type="CreateWorkPackages3.Configuration.MappingSectionGroup,CreateWorkPackages3">
      <section name="SprintSection" type="CreateWorkPackages3.Configuration.SprintSection, CreateWorkPackages3" />
      <section name="AreaPathSection" type="CreateWorkPackages3.Configuration.AreaPathSection, CreateWorkPackages3" />
      <section name="ApplicationSection" type="CreateWorkPackages3.Configuration.ApplicationSection, CreateWorkPackages3" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.0" newVersion="6.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DlhSoft.ProjectDataControlLibrary" publicKeyToken="6071b28da0134838" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.2" newVersion="2.2.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <MappingSection>
    <SprintSection>
      <Sprints>
        <SprintSettings SprintKey="Sprint 51 Deimos" SprintId="58" DueDate="08-06-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 52 Deimos" SprintId="59" DueDate="29-06-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 53 Deimos" SprintId="60" DueDate="10-08-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 54 Deimos" SprintId="61" DueDate="31-08-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 55 Deimos" SprintId="62" DueDate="21-09-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 56 Deimos" SprintId="63" DueDate="19-10-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 57 Deimos" SprintId="64" DueDate="09-11-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 58 Deimos" SprintId="65" DueDate="30-11-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 59 Deimos" SprintId="66" DueDate="23-12-2020"></SprintSettings>

        <SprintSettings SprintKey="Sprint 60 Deimos" SprintId="82" DueDate="25-01-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 61 Deimos" SprintId="84" DueDate="22-02-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 62 Deimos" SprintId="86" DueDate="15-03-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 63 Deimos" SprintId="88" DueDate="12-04-2021"></SprintSettings>


        <SprintSettings SprintKey="Sprint 51 Phobos" SprintId="73" DueDate="09-06-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 52 Phobos" SprintId="74" DueDate="30-06-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 53 Phobos" SprintId="75" DueDate="11-08-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 54 Phobos" SprintId="76" DueDate="01-09-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 55 Phobos" SprintId="77" DueDate="22-09-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 56 Phobos" SprintId="78" DueDate="20-10-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 57 Phobos" SprintId="79" DueDate="10-11-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 58 Phobos" SprintId="80" DueDate="01-12-2020"></SprintSettings>
        <SprintSettings SprintKey="Sprint 59 Phobos" SprintId="81" DueDate="23-12-2020"></SprintSettings>

        <SprintSettings SprintKey="Sprint 60 Phobos" SprintId="83" DueDate="26-01-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 61 Phobos" SprintId="85" DueDate="23-02-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 62 Phobos" SprintId="87" DueDate="16-03-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 63 Phobos" SprintId="89" DueDate="13-04-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 64 Phobos" SprintId="91" DueDate="04-05-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 65 Phobos" SprintId="93" DueDate="01-06-2021"></SprintSettings>


        <SprintSettings SprintKey="Sprint 64 Ares" SprintId="94" DueDate="16-05-2021"></SprintSettings>
        <SprintSettings SprintKey="Sprint 65 Ares" SprintId="95" DueDate="06-06-2021"></SprintSettings>
      </Sprints>
    </SprintSection>
    <AreaPathSection>
      <AreaPaths>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. NIDC løsninger" TeamId="52" RelatedCaseId="422"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger af UIMs Sitecore-websites" TeamId="53" RelatedCaseId="423"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger af UIS" TeamId="54" RelatedCaseId="424"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger af BI Systemet" TeamId="55" RelatedCaseId="425"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger til CARL 2 i forbindelse med BMS" TeamId="56" RelatedCaseId="426"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger Kontraktens Systemportefølje under Delaftale 3" TeamId="57" RelatedCaseId="427"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. tilpasninger til Systemporteføljen under Delaftale 3 i forbindelse med Life Cycle Management" TeamId="58" RelatedCaseId="428"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedr. videreudvikling af Min Side løsning til Nyidanmark.dk" TeamId="59" RelatedCaseId="429"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Opgaver tilhørende Leveranceaftale vedrørende vedligehold for Delaftale 3 under Kontraktens Systemportefølje" TeamId="60" RelatedCaseId="430"></AreaPathSettings>
        <AreaPathSettings AreaPathKey="Ophørsydelser - Transition 2020/2021 (Data management ind / Sitecore ud)" TeamId="61" RelatedCaseId="499"></AreaPathSettings>

        
      </AreaPaths>
    </AreaPathSection>
    <ApplicationSection>
      <Applications>
        <ApplicationSettings AreaPathKey="UIB0006\CARL2" ApplicationId="1" />
        <ApplicationSettings AreaPathKey="UIB0006\CARL2 Biometri" ApplicationId="2" />
        <ApplicationSettings AreaPathKey="UIB0006\UIS" ApplicationId="3" />
        <ApplicationSettings AreaPathKey="UIB0006\Nationalt ID-Center" ApplicationId="4" />
        <ApplicationSettings AreaPathKey="UIB0006\Ny i Danmark" ApplicationId="5" />
        <ApplicationSettings AreaPathKey="UIB0006\Underretningspligt" ApplicationId="5" />
        <ApplicationSettings AreaPathKey="UIB0006\FLN.dk og UDLN.dk" ApplicationId="6" />
        <ApplicationSettings AreaPathKey="UIB0006\Expatviden" ApplicationId="7" />
        <ApplicationSettings AreaPathKey="UIB0006\BI" ApplicationId="8" />
        <ApplicationSettings AreaPathKey="UIB0006\RSK" ApplicationId="9" />
        <ApplicationSettings AreaPathKey="UIB0006\VLS" ApplicationId="10" />
        <ApplicationSettings AreaPathKey="UIB0006\Indfødsret Ansøgningsløsningen" ApplicationId="11" />
        <ApplicationSettings AreaPathKey="UIB0006\Indfødsret BI" ApplicationId="12" />
        <ApplicationSettings AreaPathKey="UIB0006\IPDB" ApplicationId="13" />
        <ApplicationSettings AreaPathKey="UIB0006\Min Side" ApplicationId="14" />
        <ApplicationSettings AreaPathKey="UIB0006\Tværgående" ApplicationId="15" />
        <ApplicationSettings AreaPathKey="UIB0006\UIS BRS" ApplicationId="16" />
        <ApplicationSettings AreaPathKey="UIB0006\CARL2 - Udvidet brug af biometri" ApplicationId="17" />
      </Applications>
    </ApplicationSection>
  </MappingSection>
</configuration>
